@use '../../partials/styles/mixins.scss' as *;
@use '../../partials/styles/variables.scss' as *;

// SecondHeaderComponent.scss
.secondHeader {
    background: linear-gradient(45deg, #000000, #010177);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backButton {
    display: flex;
    width: 50%;
}
