@use '../../partials/styles/mixins.scss' as *;
@use '../../partials/styles/variables.scss' as *;

.footer {
  background-color: white;
  color: #0ff;
  text-align: center;
  position: relative;
  overflow: hidden;

  .footer__content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    &--description {
      display: flex;
      justify-content: space-around;
    }
  }
}
