@font-face {
    font-family: 'Handlee';
    src: url('../../assets/font/Handlee-Regular.woff2') format('woff2'),
        url('../../assets/font/Handlee-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}