.troubleshoot {
    display: flex;
    flex-direction: column;

    &__selectandbutton {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
  
  
    &__question {
      text-align: center;
      margin: 2rem 0;
  
      select {
        background-color: #191919;
        color: #fff;
        border: none;
        padding: 0.5rem;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
      }
  
      button {
        background-color: black;
        color: rgb(6, 50, 50);
        text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #f06d06, 0 0 30px #f06d06, 0 0 40px #f06d06, 0 0 50px #f06d06;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
      }
    }
  
    &__response {
      display: flex;
      flex-direction: column;
      color: #fff;
      border: 2px solid #6d00ff;
      border-radius: 10px;
      margin: 2rem;
      padding: 2rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../assets/car-aesthetic.gif);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
  
      &__solutions {
        text-align: center;
        margin: 1rem 0;
  
        &--title {
          font-size: 24px;
          color: #6d00ff;
        }
  
        &--solution,
        &--instructions,
        &--tools {
          font-size: 16px;
        }
      }
    }

    &__solutions {
        border-bottom: 2px solid pink;
        padding-bottom: 16px;
        text-align: center;

        &--title {
            text-align: center;
            font-size: 30px;
        }

        &--solution {
            color: pink;
            font-size: 24px;
        }

        &--instructions {
            color: pink;
            font-size: 24px;
        }

        &--tools {
            color: pink;
            font-size: 24px;
        }
    }

    &__comments {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    &__responses {
      text-align: center;
    }
  }
  