@use '../../partials/styles/mixins.scss' as *;
@use '../../partials/styles/variables.scss' as *;

.about {
  
    .about__content {
      // max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.dark-mode {
        background-color: #1a1a1a; /* Dark background color */
        color: #ffffff;
      }
    }
  
/* AboutPage.scss */
.about__image {
  padding-top: 1rem;

  img {
    width: 300px;
    border: 2px solid black;
    border-radius: 8px;
    animation: lighting 2s infinite;
  }
}

@keyframes lighting {
  0% {
    box-shadow: 0 0 10px rgba(0, 102, 204, 0.5), 0 0 20px rgba(0, 102, 204, 0.7), 0 0 30px rgba(0, 102, 204, 0.9);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 102, 204, 0.5), 0 0 30px rgba(0, 102, 204, 0.9), 0 0 50px rgba(0, 102, 204, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 102, 204, 0.5), 0 0 20px rgba(0, 102, 204, 0.7), 0 0 30px rgba(0, 102, 204, 0.9);
  }
}

  
    .about__text {
      padding: 1rem;

      &--img {
        width: 30px;
        padding-left: 16px;
      }
  
      h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
  
      p {
        font-size: 12px;
      }
    }
  }

  .section-content {

    @include tablet {
      display: flex;
      gap: 4rem;
      align-items: center;
    }

    img {
      width: 100%;

      @include tablet {
        width: 30%;
        padding: 2rem;
        border-radius: 3rem;
      }
    }
  }

  .about-section {
  }

  .team-member {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    img {
      width: 100%;

      @include tablet {
        width: 15%;
        border-radius: 3rem;
      }
    }
  }
  
  .darkmode {
    margin: 16px;
  }  