@use '../../partials/styles/mixins.scss' as *;
@use '../../partials/styles/variables.scss' as *;

.homePage {
  position: relative;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../../assets/japanroads.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__content {
    position: relative;
    z-index: 1;
  }

  &__hero {
    display: flex;
    position: relative;
    padding-top: 8rem;
    height: 1000px;
    justify-content: center;
    animation: fadeIn 1s ease-in-out both;

    @include desktop {
      height: 670px;
    }
  }

  &__heroText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out 0.5s both;
    color: rgb(192, 190, 175);
    width: 70% ;
  }

  &__heroSubtext {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 1rem;
    opacity: 0;
    animation: fadeInUp 1.5s ease-in-out 1s both;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
    color: rgb(199, 193, 181);
  }

  &__main {

    @include tablet {
      display: flex;
    }
  }

  &__card {
    color: white;
    background-color: black;
    text-align: center;
    padding-bottom: 16px;
  }

  &__img {
    width: 100%;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
